:root {

    /* ===============================
       Colors
    =============================== */
    --primary-color: #E63946;
    --secondary-color: #F4B400;
    --background-color: #111111;
    --surface-color: #1C1C1C;

    --text-primary: #F8F8F8;
    --text-secondary: #BDBDBD;

    /* ===============================
       Typography
    =============================== */
    --heading-font: "Bebas Neue", sans-serif;
    --body-font: "Poppins", sans-serif;

    /* ===============================
       Layout
    =============================== */
    --container-width: 1200px;
    --section-padding: 6rem;

    /* ===============================
       Border Radius
    =============================== */
    --radius: 12px;

    /* ===============================
       Animation
    =============================== */
    --transition: 0.3s ease;
}